

#this{

  background-color: #46d2f2;
  overflow: hidden;
}

#loginContainer{

  float: right;
  margin: 20px;

}

.loginField{

  margin: 3px;
  padding: 3px;

}

#buttonLogin {

  padding: 3px 5px 3px 5px;

}

#heading{

  display: inline-block;
  margin: 20px;
  font-size: 35px;
  color: #fff;
  font-weight: bold;

}

.radio{

  color: #fff;

}

#signupContainer{

  width: 20%;
  float: right;
  margin: 50px 100px 0px 0px;
  

}

.signupField{

  margin: 10px;
  padding: 10px;
  width: 80%;
}

.buttonSignUp{

  width: 85%;
  margin: 5px 10px 5px 10px;
  padding: 7px;
  background-color: #46d2f2;
  border: 0px;
  color: #fff;
  font-size: 16px;


}

.panelHeader{

  width: 70%;
  background-color: #46d2f2;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin: 30px auto 0px auto;
  color: #fff;


}

.navContainer{

  padding: 0px;
  width: 50%;
  margin: 0px auto 0px auto;

}

.navbar{

  margin: 15px 0px 0px 80px;
  display: inline-block;
  text-decoration: none;
}

.info{

  width: 40%;
  margin: 10px auto 0px auto;

}

.view{


  width: 60%;
  margin: 15px auto 5px auto;
  padding: 7px;
  color: #46d2f2;
  border: 2px solid #46d2f2;
  border-radius: 15px;

}

.apply{

  width: 20%;
  background-color: #46d2f2;
  padding: 5px;
  border: 0px;
  color: #fff;
  font-weight: bold;

}

#small{

  font-size: 18px;

}

